<!DOCTYPE html> 
<html> 
  <head> 
    <title>QR Code Dispatcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 /">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />        
  </head>
  <body>
    <div class="w3-container w3-twothird">

      <h1 class="w3-center">QR COde Dispatcher</h1>       
      
      <div class="w3-container">
      </div>
    
      <footer class="w3-container w3-center" style="font-size: 75%;">
        <div class="w3-container">
          Desenvolvido com:
          <i class="fab fa-python"> </i> <a href="https://www.python.org/"> Python</a>
          <a href="https://flask.palletsprojects.com/en/stable/"> Flask</a>
          <a href="https://www.w3schools.com/w3css/default.asp"> W3-CSS</a>
          &nbsp;- &nbsp;
          <i class="fab fa-github-square"> </i> <a href="https://github.com/JorgePe/QRCodeDispatcher"> Código + Documentação</a>
        </div>   
      </footer>
    </div>
  </body> 
</html>     
